# 自动化处理脚本会清掉、也不该进 Git
Mineprep/Render/ffmpeg/
Mineprep/Render/ffmpeg.zip

*.pdb
*.debug
*.sym
*.patch_*.exe
*.patch_*.exp
*.patch_*.lib

Intermediate/
Saved/
DerivedDataCache/
Build/

__pycache__/
*.pyc
*.pyo
cache/
.vscode/

.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.VC.db
Thumbs.db
.DS_Store
